<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Some website again</title>
  </head>
  <body>
    {{>header}}
    <p>lets check about it soon</p>
    {{> footer}}
  </body>
</html>
